:root {
  --color-body: #a28888;
  --color-text: #111;
  --color2-text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #1f1f1f, #2c2f36, #4b4f56, #a89f91);
  font-family: "Inter Tight", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.img-head {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 9rem;
  color: white;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.img-weathora {
  width: 150px;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-bottom: 1.5rem;
}

ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

ul li a:hover {
  color: yellow;
}

h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.btn-head {
  margin-top: 25px;
  border-radius: 7px;
  color: white;
  background-color: rgb(179, 179, 33);
}

/* Main */
form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

input[type="search"] {
  padding: 8px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 5px;
  opacity: 50%;
}

button {
  padding: 8px 5px;
  font-size: 16px;
  background-color: rgb(179, 179, 33);
  color: white;
  border: none;
  border-radius: 0 5px 10px 0;
  cursor: pointer;
}

button:hover {
  background-color: rgb(179, 179, 33);
}

/* INFORMATION METEO */
.information {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.img-back {
  width: 90%;
  height: 60vh; /* ou 80vh si tu veux relatif à l'écran */
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.city {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.city h3 {
  position: relative;
  left: 10%;
  margin-bottom: 10px;
}

.forecast {
  position: absolute;
  margin-top: 25px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  width: 50%;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forecast img {
  width: 40%;
  height: auto;
}

.tempartures1 {
  margin-top: 10px;
  font-size: 30px;
}

.tempartures2 {
  margin-top: 10px;
  font-size: 17px;
}

.statistics {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-top: 45px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 15px;
  width: 80%;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stat-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stat-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-p1,
.stat-value {
  margin: 0;
  font-size: 1rem;
}

.statistics img {
  width: 30px;
  height: auto;
}

/* Séparateur interne */
.inner-separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.map {
  margin-top: 25px;
  width: 5%;
  padding: 5px;
}
